
.navbar-custom
{
    background-color: #1629b6;
}
.navbar .navbar-brand 
{
  color: #fdff71;
  font-family:
}
.navbar .navbar-text 
{
  color: #fdff71;
}
.card
{
    background-color: #1629b6;
}
#signInButton
{
    border-color: white;
    color: white;
}
.p
{
    height: 5px;
    width: 5px;
}

.pull-right .clickable .close icon
{
    width: 500px;
    height: 500px;
}
.row
{
  margin-top: 0px;
  margin-bottom: 30px
}
.Location
{
    font-size:2px;
}
#calendar
{
    height: 120px;
    width: 600px;
}
#favorite 
{
    color: yellow;
    background: #1629b6;
}
